<html> 

<head>
<title>ML Flask API</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

{% extends "layout.html" %}
{% block content %}

    <div class="evaluate">

    <h1>Evaluate model performance</h1>
    <h2>Choose train data and run model</h2>
    <h3>-------------</h3>
    <form action="/evaluate" method="post" enctype="multipart/form-data">
      Test dataset: <input type="file" accept=".csv" name="test" value="Upload dataset"><br>
      Target metric: <select name="target_var">
        <option value="Survived">Survived</option>
        <option value="Fare">Fare</option>
        <option value="PassengerId">PassengerId</option>
      </select><br>

      Select ML Type: <select name="ml_type">
        <option value="Regressor">Regressor</option>
        <option value="Classifier">Classifier</option>
        <option value="LogisticRegression">LogisticRegression</option>
      </select><br>

      Predicted Results: <input type="file" accept=".csv" name="y_hat" value="Upload dataset"><br>
      
      <h3>-------------</h3>

      <input type="submit" value="Evaluate"> {% for table in tables %} {{titles[loop.index]}} {{ table|safe }} {% endfor %}
    </form>

    </div>
    {% endblock %}

</body>

</html>