<html> 

<head>
<title>ML Flask API</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

{% extends "layout.html" %}
{% block content %}

    <div class="train">

    <h1>Evaluate model performance</h1>
    <h2>Choose train data and run model</h2>
    <h3>-------------</h3>
    <form action="/evaluate" method="post" enctype="multipart/form-data">
      <input type="file" accept=".csv" name="y_test" value="Upload dataset">
      <input type="file" accept=".csv" name="y_hat" value="Upload dataset">
      <input type="submit" value="Evaluate"> {% for table in tables %} {{titles[loop.index]}} {{ table|safe }} {% endfor %}
    </form>

    </div>
    {% endblock %}

</body>

</html>