<html> 

<head>
<title>ML Flask API</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

{% extends "layout.html" %}
{% block content %}

    <div class="train">

    <h1>Features</h1>
    <h2>Process dataset for feat-eng</h2>
    <h3>-------------</h3>
    <form action="/features" method="post" enctype="multipart/form-data">
      Select Dataset: <input type="file" accept=".csv" name="train_dataset" value="Upload dataset"><br>
            
      Target metric: <select name="target_var">
        <option value="Survived">Survived</option>
        <option value="Fare">Fare</option>
        <option value="PassengerId">PassengerId</option>
      </select><br>

      <h3>-------------</h3>

      Run process: <input type="submit" value="Features"> {% if label %} {{ label }} {% endif %}
    </form>

    </div>
    {% endblock %}

</body>

</html>