<html> 

<head>
<title>ML Flask API</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  {% extends "layout.html" %}
  {% block content %}
  <div class="home">

    <h2>Welcome to Predictor Web App</h2>
    <h3>Description and best practices</h3>
    
    <p>1. Home</P>
    <p>2. About</P>
    <p>3. Viz</P>
    <p>4. Profiling - Upload csv and get descriptive analysis</P>
    <p>5. Analysis - </P>
    <p>6. FeatEng - Clean dataframe</P>
    <p>7. FeatSelection - Get fields with most predictive</P>
    <p>8. Train - Create pickle model</P>
    <p>9. Predict - Use pickle model to make prediction</P>
    <p>10. Evaluate - Get model results</P>
    <p>11. TimeSeries - Timeseries Plot</P>
    <p>12. Hello - Test example</P>
    <p>13. Dashboard - Interactive dash</P>
    <p>14. Reports - Interactive dash</P>
    <p>15. Reports Scatterlot - Interactive dash</p>

    </div>
    {% endblock %}

</body>

</html>