<html> 

<head>
<title>ML Flask API</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  {% extends "layout.html" %}
  {% block content %}
  <div class="home">

    <h1>Welcome to Predictor Web App</h1>
    <h2>Description and best practices</h2>
    
    <h4>1. Home</h4>
    <h4>2. About</h4>
    <h4>3. Viz</h4>
    <h4>4. Profiling - Upload csv and get descriptive analysis</h4>
    <h4>5. Analysis - </h4>
    <h4>6. FeatEng - Clean dataframe</h4>
    <h4>7. FeatSelection - Get fields with most predictive</h4>
    <h4>8. Train - Create pickle model</h4>
    <h4>9. Predict - Use pickle model to make prediction</h4>
    <h4>10. Evaluate - Get model results</h4>
    <h4>11. TimeSeries - Timeseries Plot</h4>
    <h4>12. Hello - Test example</h4>
    <h4>13. Dashboard - Interactive dash</h4>
    <h4>14. Reports - Interactive dash</h4>
    <h4>15. Reports Scatterlot - Interactive dash</h4>

    </div>
    {% endblock %}

</body>

</html>