<html> 

<head>
<title>ML Flask API</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  {% extends "layout.html" %}
  {% block content %}
  <div class="about">

    <h1>Predictor Web App</h1>
    <h2>Choose 1. model and 2. data to predict</h2>
	<h3>-------------</h3>
    <form action="/predict" method="post" enctype="multipart/form-data">
      <input type="file" accept=".pk" name="model" value="Upload model">
      <input type="file" accept=".csv" name="dataset" value="Upload dataset">
      <input type="submit" value="Predict"> {% if label %} {{ label }} {% endif %}
    </form>

    <h1>--------------------</h1>

    <h1>Check dataset</h1>
    <h2>Data sample Viz</h2>
    <form action="/viz_dataset" method="post" enctype="multipart/form-data">
    <input type="file" accept=".csv" name="dataset" value="Upload dataset">
    <input type="submit" value="Viz"> {% for table in tables %} {{titles[loop.index]}} {{ table|safe }} {% endfor %}
    </form>

    <h1>--------------------</h1>

    <h1>Variable Importance</h1>
    <h2>Top 5 fields</h2>
    <form action="/var_importance" method="post" enctype="multipart/form-data">
    <input type="file" accept=".csv" name="dataset" value="Upload dataset">
    
    <input type="submit" value="Viz"> {% for table in tables %} {{titles[loop.index]}} {{ table|safe }} {% endfor %}
    
    </form>

    </div>
    {% endblock %}

</body>

</html>