<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="container">

      <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
      <style type="text/css">
      #list { background-color: WhiteSmoke; }
      .horizontal { display: inline; border-left: 2px solid; padding-left: 0.3em; }
      .first { border-left: none; padding-left: 0; }
      </style>
      </head>
      <body>
      <strong><nav>
          <ul id="list">
            <li class="horizontal first"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="horizontal"><a href="{{ url_for('about') }}">About</a></li>
            <li class="horizontal"><a href="{{ url_for('viz_dataset') }}">Viz Dataset</a></li>
            <li class="horizontal"><a href="{{ url_for('report') }}">Notebook</a></li>
            <li class="horizontal"><a href="{{ url_for('var_importance') }}">Var Importance</a></li>
            <li class="horizontal"><a href="{{ url_for('train') }}">Train</a></li>
            <li class="horizontal"><a href="{{ url_for('predict') }}">Predict</a></li>
            <li class="horizontal"><a href="{{ url_for('evaluate') }}">Evaluate</a></li>
            <li class="horizontal"><a href="{{ url_for('close') }}">Close</a></li>
          </ul>
        </nav></strong>

      </div>
    </header>

     <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>