<html> 

<head>
<title>ML Flask API</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

{% extends "layout.html" %}
{% block content %}

    <div class="train">

    <h1>Train model</h1>
    <h2>Choose train data and run model</h2>
    <h3>-------------</h3>
    <form action="/train" method="post" enctype="multipart/form-data">
      Training Data: <input type="file" accept=".csv" name="train_dataset" value="Upload dataset"><br>
      
      Select ML Type: <select name="ml_type">
        <option value="Regressor">Regressor</option>
        <option value="Classifier">Classifier</option>
        <option value="Features">Features</option>
      </select><br>

      <!--Target metric: <input type="text" name="target_var" value="Select target"><br> -->
      
      Target metric: <select name="target_var">
        <option value="Survived">Survived</option>
        <option value="Fare">Fare</option>
        <option value="PassengerId">PassengerId</option>
      </select><br>

      <input type="submit" value="Train"> {% if label %} {{ label }} {% endif %}
    </form>

    </div>
    {% endblock %}

</body>

</html>