<html> 

<head>
<title>ML Flask API</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

{% extends "layout.html" %}
{% block content %}
<div class="var_importance">

    <h1>Variable Importance</h1>
    <h2>Top 5 fields</h2>
    <form action="/var_importance" method="post" enctype="multipart/form-data">
    <input type="file" accept=".csv" name="dataset" value="Upload dataset">
    <input type="text" name="target_var" value="Select target">
    <input type="submit" value="Viz">
    </form>

    <img src="data:image/png;base64, {{ plot_url }}">

<!--  -->

    </div>
    {% endblock %}

</body>

</html>